
*{
    margin: 0;
    padding: 0;
    font-family: 'popins','sans-sarif';
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    color:#5f5f5f ;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,00.1);
}
.logo img{
    width: 20px;
    margin-right: 15px;
    display: block;
}
.navcenter ul li{
    display: inline-block;
    list-style: none;
}
.navcenter ul li a{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
    /* margin-left:5px ; */
}
.navcenter ul li a i{
    width: 30px;
}
.navcenter ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}
.navcenter ul li a:hover::after,.navcenter ul li a.active-link::after{
    width: 100%;

}
.navProfile {
    /* width: 40px; */
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;

}

.online{
    position: relative;

}
.online::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 5px;
    right: 0px;
    background: #41db51;
    position: absolute;

}
.search-box{
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 17px ;
}
.navLeft{
    display: flex;
    align-items: center;
}
.search-box i{
    width: 14px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}
/* navbar end */
.container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ----------------left side bar */
.Left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;

}
.sidebar-profile-box{
    background: #fff;
}
.sidebar-profile-info{
    padding: 0 25px;
}
.sidebar-profile-info img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -45px;
}

.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.sidebar-profile-info h3{
    font-size: 14px;
    font-weight: 500;
    color: #777;
}
.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;

}
.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}
.sidebar-profile-info ul li span{
    float: right;
    color: #045be6;

}
.sidebar-profile-links{
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.sidebar-profile-links a{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid #ccc;
}
.sidebar-profile-links:first-child{
    border-left: 0;
}
.sidebar-profile-links a img{
    width: 20px;
    margin-right: 10px;
}
.sidebarActivity{
    background: #fff;
    padding: 5px 25px;
    margin: 12px 0;
}
.sidebarActivity h3{
    color: #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.sidebarActivity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}
.sidebarActivity a i{
    width: 20px;
    margin-right: 3px;
    color:#045be6 ;
}



.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
}
.main-content{
    flex-basis: 47%;
}
.discover-more-links{
    border-right: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;

}
.discover-more-links a{
    color: #045be6;
    display: inline-block;
    margin: 10px 0;
}
/* --------------------------------right-sidebar-------------------------- */

.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
}
.sidebar-news{
    background: #fff;
    padding: 10px 25px;
}
.info-icons{
    width: 25px;
    float: right;
    margin-top: 15px;
}
.sidebar-news h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}
.sidebar-news a{
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
}
.sidebar-news span{
    font-size: 13px;

}
.sidebar-news .read-more-links{
    color: #045be6;
    font-weight: 600;
    margin: 20px 0 10px;
}
.side-barad{
    background-color: #fff;
    padding: 15px 25px;
    text-align: 0;
    margin: 12px 0;
    font-size: 12px;
}
.side-barad img{
    width: 60px;
    border-radius: 50%;
    margin: 4px ;
    position: relative;
    left: 50px;



}
.side-barad small{
    float: right;
    font-weight: 600;
    font-size: 14px;

}
.side-barad p{
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    left: 50px;

}
.side-barad b{
    display: block;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    left: 50px;



}
.ad-links{
    display: inline-block;
    border: 1px solid #045be6;
    border-radius: 30px;
    padding: 5px 15px;
    color: #045be6;
    font-weight: 500;
    margin: 20px auto 10px;
    position: relative;
    left: 100px;

}
.sideBar-useful-links{
    padding: 15px 25px;
    text-align: center;
}
.sideBar-useful-links a{
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}
.copyright-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}
.copyright-msg img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.creat-post{
    background: #fff;
}
.creat-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.creat-post-input img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.creat-post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 8px;
}
::placeholder{
    font-weight: 600;
}
.creat-post-links{
    display: flex;
    align-items: flex-start;
}
.creat-post-links li{
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.creat-post-links li i{
    width: 15px;
    margin-right: 5px;
    color: #045be6c2;
}
.creat-post-links li:last-child{
    background: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;
}
.sort-by{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.sort-by hr{
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
    
}
.sort-by p{
    font-size: 13px;
    padding-left: 5px;
}
.sort-by p span{
    font-size: 600;
    cursor: pointer;
}
.sort-by p span i{
    width: 12px;
    margin-left: 3px;
    color: #045be6;
}
.post{
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
}
.post--author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

}
.post--author img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    
}
.post--author h1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.post--author small{
    display: inline;
    margin-bottom: -2px;
}
.post p{
    font-size: 14px;
    margin-bottom: 15px;

}
.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}
.post-stats div{
    display: flex;
    align-items: center;

}
.post-stats img{
    width: 15px;
    margin-right: -5;
}
.liked-users{
    margin-left: 10px;

}
.post-Activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.post-Activity div{
    display: flex;
    align-items: center;
}
.post-Activity-user-icon{
    width: 26px;
    border-radius: 50%;

}
.post-Activity-arrow-icon{
    width: 20px;
    margin-left: 10px;
}
.post-activity-links img{
    width: 18px;
    padding: 20px;
    margin-right: 8px;
}

.main-content{
    position: relative;
    right: 21rem;
}
.right-sidebar{
    width: 400px;
    position: relative;
   left: 38rem;
   bottom: 80rem;
}








